body {
  margin: 0;
  padding: 0;
}
.application .sign-out {
  margin: 7px 10px 0 0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .signup_area {
  margin-top: 10px;
  text-align: center;
}
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-signin-heading {
  margin-bottom: 10px;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
}
.form-signup .input-group {
  margin-bottom: 15px;
}
.form-signup input {
  margin-bottom: 15px;
}
.form-signup .signin_area {
  margin-top: 10px;
  text-align: center;
}
.eventList,
.groupList {
  padding: 0;
}
.eventList .panel-body,
.groupList .panel-body {
  padding: 0 10px 0 10px;
}
.eventList .eventItem .item-head,
.groupList .eventItem .item-head,
.eventList .groupItem .item-head,
.groupList .groupItem .item-head {
  zoom: 1;
}
.eventList .eventItem .item-head:before,
.groupList .eventItem .item-head:before,
.eventList .groupItem .item-head:before,
.groupList .groupItem .item-head:before,
.eventList .eventItem .item-head:after,
.groupList .eventItem .item-head:after,
.eventList .groupItem .item-head:after,
.groupList .groupItem .item-head:after {
  content: "";
  display: table;
}
.eventList .eventItem .item-head:after,
.groupList .eventItem .item-head:after,
.eventList .groupItem .item-head:after,
.groupList .groupItem .item-head:after {
  clear: both;
}
.eventList .eventItem .item-head .userName,
.groupList .eventItem .item-head .userName,
.eventList .groupItem .item-head .userName,
.groupList .groupItem .item-head .userName {
  float: left;
  margin-right: 10px;
}
.eventList .eventItem .item-head .date,
.groupList .eventItem .item-head .date,
.eventList .groupItem .item-head .date,
.groupList .groupItem .item-head .date {
  float: left;
}
.eventList .eventItem .title,
.groupList .eventItem .title,
.eventList .groupItem .title,
.groupList .groupItem .title {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
.eventCreator,
.groupCreator {
  padding: 0;
}
.eventCreator .item,
.groupCreator .item {
  margin-bottom: 15px;
}
.eventCreator .item .item-title,
.groupCreator .item .item-title {
  margin-bottom: 5px;
  width: 70px;
}
.eventCreator .description textarea,
.groupCreator .description textarea {
  width: 250px;
  height: 100px;
}
.eventCreator .item .document .item-title,
.groupCreator .item .document .item-title {
  margin-bottom: 10px;
}
.eventCreator .btn_area,
.groupCreator .btn_area {
  margin-top: 15px;
  text-align: center;
}
.participantListarea .btn_area {
  margin-bottom: 20px;
}
.participantListarea .btn_area .btn {
  width: 100%;
}
.participantListarea .participantList {
  padding: 0;
}
.participantListarea .participantList .panel-heading {
  zoom: 1;
}
.participantListarea .participantList .panel-heading:before,
.participantListarea .participantList .panel-heading:after {
  content: "";
  display: table;
}
.participantListarea .participantList .panel-heading:after {
  clear: both;
}
.participantListarea .participantList .panel-heading .people {
  float: right;
}
.groupMemberList {
  padding: 0;
}
.groupMemberList .panel-heading {
  zoom: 1;
}
.groupMemberList .panel-heading:before,
.groupMemberList .panel-heading:after {
  content: "";
  display: table;
}
.groupMemberList .panel-heading:after {
  clear: both;
}
.groupMemberList .panel-heading .people {
  float: right;
}
.eventDetail,
.groupDetail {
  padding: 0;
}
.eventDetail .item-head,
.groupDetail .item-head {
  zoom: 1;
}
.eventDetail .item-head:before,
.groupDetail .item-head:before,
.eventDetail .item-head:after,
.groupDetail .item-head:after {
  content: "";
  display: table;
}
.eventDetail .item-head:after,
.groupDetail .item-head:after {
  clear: both;
}
.eventDetail .item-head .userName,
.groupDetail .item-head .userName {
  float: left;
  margin-right: 10px;
}
.eventDetail .item-head .date,
.groupDetail .item-head .date {
  float: left;
}
.eventDetail .title,
.groupDetail .title {
  margin-top: 10px;
  font-size: 32px;
  text-align: center;
}
.eventDetail .place,
.groupDetail .place {
  margin-top: 20px;
}
.eventDetail .item-detail,
.groupDetail .item-detail {
  margin-bottom: 50px;
}
.eventDetail .item-detail .item-detail-head,
.groupDetail .item-detail .item-detail-head {
  border-bottom: 2px solid #dadada;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.feed {
  padding: 0;
}
.feed .comment {
  width: 100%;
}
.feed .btn_area {
  margin-top: 10px;
  text-align: right;
}
.feed .feedItem div {
  margin-bottom: 5px;
}
.feed .feedItem div .user {
  font-weight: bold;
  font-size: 14px;
}
.feed .feedItem div .date {
  color: #808080;
  font-size: 13px;
}
.invitation input {
  width: 100%;
}
.invitation .btn_area {
  margin-top: 15px;
  text-align: center;
}
