@import 'nib'

cyan = "#00ffff"

body
  margin: 0
  padding: 0

.application
  .sign-out
    margin: 7px 10px 0 0

.form-signin
  max-width: 330px
  padding: 15px
  margin: 0 auto
  .form-signin-heading
    margin-bottom: 10px
  .form-control
    position: relative
    height: auto
    box-sizing: border-box
    padding: 10px
    font-size: 16px
  input[type="email"]
    margin-bottom: -1px
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
  input[type="password"]
    margin-bottom: 10px
    border-top-left-radius: 0
    border-top-right-radius: 0
  .signup_area
    margin-top: 10px
    text-align: center

.form-signup
  max-width: 330px
  padding: 15px
  margin: 0 auto
  .form-signin-heading
    margin-bottom: 10px
  .form-control
    position: relative
    height: auto
    box-sizing: border-box
    padding: 8px
    font-size: 14px
  .input-group
    margin-bottom: 15px
  input
    margin-bottom: 15px
  .signin_area
    margin-top: 10px
    text-align: center

.eventList, .groupList
  padding: 0
  .panel-body
    padding 0 10px 0 10px
  .eventItem, .groupItem
    .item-head
      clearfix()
      .userName
        float: left
        margin-right: 10px
      .date
        float: left
    .title
      margin-top: 10px
      font-size: 16px
      text-align: center

.eventCreator, .groupCreator
  padding: 0
  .item
    margin-bottom: 15px
    .item-title
      margin-bottom: 5px
      width: 70px
  .description
    textarea
      width: 250px
      height: 100px
  .item .document
    .item-title
      margin-bottom: 10px
  .btn_area
    margin-top: 15px
    text-align: center

.participantListarea
  .btn_area
    margin-bottom: 20px
    .btn
      width: 100%
  .participantList
    padding: 0
    .panel-heading
      clearfix()
      .people
        float: right


.eventDetail, .groupDetail
  padding: 0
  .item-head
    clearfix()
    .userName
      float: left
      margin-right: 10px
    .date
      float: left
  .title
    margin-top: 10px
    font-size: 32px
    text-align: center
  .place
    margin-top: 20px
  .item-detail
    margin-bottom: 50px
    .item-detail-head
      border-bottom:2px solid #dadada;
      font-size: 18px
      font-weight: bold
      margin-bottom: 10px
.feed
  padding: 0
  .comment
    width: 100%
  .btn_area
    margin-top: 10px
    text-align: right

  .feedItem
    div
      margin-bottom: 5px
      .user
        font-weight: bold
        font-size:14px
      .date
        color: #808080
        font-size:13px
